include LICENSE
include README.md
include sim2l/version.py

# Include schema files
recursive-include sim2l/repository *.sql

# Include tests
recursive-include tests *.py

# Exclude unnecessary files
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
